/* Variables */
@charset 'UTF-8';

/// @group    Configurações

$colors: (
  primary     : #ff8200,
  light: (
    darker    : #f8f8f8,
    darken    : #f0f0f0,
    base      : #ffffff,
  ),
  dark: (
    lighten    : #666666,
    lighter    : #5a5a5a,
    base       : #222222,
    dark       : #000000,
    darker     : #151515,
    darken     : #0e0e0e,
  ),
  danger      : #f85757,
  success     : #a4cb1b,
  warning     : #febc11,

) !default;

/// @group    Fontes

$font-config: (
  thin: (
    name: Montserrat,
    weight: 100
  ),
  light: (
    name: Montserrat,
    weight: 300
  ),
  base: (
    name: Montserrat,
    weight: 400
  ),
  medium: (
    name: Montserrat,
    weight: 500
  ),
  bold: (
    name: Montserrat,
    weight: 700
  ),
  black: (
    name: Montserrat,
    weight: 900
  )
) !default;

$font-fallback: Tahoma, Verdana, Segoe, sans-serif !default;

/// @group    Fontes
$font-sizes: (
  xxbig		  :	  50px,
  xbig		  :	  38px,
  big		    :	  22px,
  large		  :	  18px,
  medium		:	  15px,
  normal		:	  14px,
  small		  :	  12px
) !default;

/// @group    Breakpoints
$breakpoints: (
  small   : 641px,
  medium  : 769px,
  large   : 1200px,
  xlarge  : 1321px,
  xxlarge : 1921px
) !default;

/// @group Spaces
$spaces: (
  s       :     4px,
  p       :     8px,
  base    :     16px,
  m       :     24px,
  g       :     32px,
  gg      :     48px,
  xg      :     56px
) !default;
