$icn-01-x: 142px
$icn-01-y: 58px
$icn-01-offset-x: -142px
$icn-01-offset-y: -58px
$icn-01-width: 52px
$icn-01-height: 30px
$icn-01-total-width: 255px
$icn-01-total-height: 208px
$icn-01-image: '../images/sprite.png'
$icn-01: 142px 58px -142px -58px 52px 30px 255px 208px '../images/sprite.png'
$icn-02-x: 214px
$icn-02-y: 0px
$icn-02-offset-x: -214px
$icn-02-offset-y: 0px
$icn-02-width: 41px
$icn-02-height: 40px
$icn-02-total-width: 255px
$icn-02-total-height: 208px
$icn-02-image: '../images/sprite.png'
$icn-02: 214px 0px -214px 0px 41px 40px 255px 208px '../images/sprite.png'
$icn-03-x: 214px
$icn-03-y: 118px
$icn-03-offset-x: -214px
$icn-03-offset-y: -118px
$icn-03-width: 24px
$icn-03-height: 38px
$icn-03-total-width: 255px
$icn-03-total-height: 208px
$icn-03-image: '../images/sprite.png'
$icn-03: 214px 118px -214px -118px 24px 38px 255px 208px '../images/sprite.png'
$icn-04-x: 214px
$icn-04-y: 40px
$icn-04-offset-x: -214px
$icn-04-offset-y: -40px
$icn-04-width: 40px
$icn-04-height: 40px
$icn-04-total-width: 255px
$icn-04-total-height: 208px
$icn-04-image: '../images/sprite.png'
$icn-04: 214px 40px -214px -40px 40px 40px 255px 208px '../images/sprite.png'
$icn-05-x: 214px
$icn-05-y: 80px
$icn-05-offset-x: -214px
$icn-05-offset-y: -80px
$icn-05-width: 24px
$icn-05-height: 38px
$icn-05-total-width: 255px
$icn-05-total-height: 208px
$icn-05-image: '../images/sprite.png'
$icn-05: 214px 80px -214px -80px 24px 38px 255px 208px '../images/sprite.png'
$icn-decisoes-x: 138px
$icn-decisoes-y: 164px
$icn-decisoes-offset-x: -138px
$icn-decisoes-offset-y: -164px
$icn-decisoes-width: 41px
$icn-decisoes-height: 41px
$icn-decisoes-total-width: 255px
$icn-decisoes-total-height: 208px
$icn-decisoes-image: '../images/sprite.png'
$icn-decisoes: 138px 164px -138px -164px 41px 41px 255px 208px '../images/sprite.png'
$icn-desenvolvimento-x: 0px
$icn-desenvolvimento-y: 119px
$icn-desenvolvimento-offset-x: 0px
$icn-desenvolvimento-offset-y: -119px
$icn-desenvolvimento-width: 53px
$icn-desenvolvimento-height: 45px
$icn-desenvolvimento-total-width: 255px
$icn-desenvolvimento-total-height: 208px
$icn-desenvolvimento-image: '../images/sprite.png'
$icn-desenvolvimento: 0px 119px 0px -119px 53px 45px 255px 208px '../images/sprite.png'
$icn-martech-x: 97px
$icn-martech-y: 164px
$icn-martech-offset-x: -97px
$icn-martech-offset-y: -164px
$icn-martech-width: 41px
$icn-martech-height: 41px
$icn-martech-total-width: 255px
$icn-martech-total-height: 208px
$icn-martech-image: '../images/sprite.png'
$icn-martech: 97px 164px -97px -164px 41px 41px 255px 208px '../images/sprite.png'
$icn-perfomance-x: 0px
$icn-perfomance-y: 164px
$icn-perfomance-offset-x: 0px
$icn-perfomance-offset-y: -164px
$icn-perfomance-width: 50px
$icn-perfomance-height: 44px
$icn-perfomance-total-width: 255px
$icn-perfomance-total-height: 208px
$icn-perfomance-image: '../images/sprite.png'
$icn-perfomance: 0px 164px 0px -164px 50px 44px 255px 208px '../images/sprite.png'
$icn-plataforma-x: 50px
$icn-plataforma-y: 164px
$icn-plataforma-offset-x: -50px
$icn-plataforma-offset-y: -164px
$icn-plataforma-width: 47px
$icn-plataforma-height: 43px
$icn-plataforma-total-width: 255px
$icn-plataforma-total-height: 208px
$icn-plataforma-image: '../images/sprite.png'
$icn-plataforma: 50px 164px -50px -164px 47px 43px 255px 208px '../images/sprite.png'
$lgo-cadastra-x: 55px
$lgo-cadastra-y: 93px
$lgo-cadastra-offset-x: -55px
$lgo-cadastra-offset-y: -93px
$lgo-cadastra-width: 112px
$lgo-cadastra-height: 17px
$lgo-cadastra-total-width: 255px
$lgo-cadastra-total-height: 208px
$lgo-cadastra-image: '../images/sprite.png'
$lgo-cadastra: 55px 93px -55px -93px 112px 17px 255px 208px '../images/sprite.png'
$lgo-insper-x: 132px
$lgo-insper-y: 119px
$lgo-insper-offset-x: -132px
$lgo-insper-offset-y: -119px
$lgo-insper-width: 81px
$lgo-insper-height: 29px
$lgo-insper-total-width: 255px
$lgo-insper-total-height: 208px
$lgo-insper-image: '../images/sprite.png'
$lgo-insper: 132px 119px -132px -119px 81px 29px 255px 208px '../images/sprite.png'
$lgo-renner-x: 82px
$lgo-renner-y: 0px
$lgo-renner-offset-x: -82px
$lgo-renner-offset-y: 0px
$lgo-renner-width: 132px
$lgo-renner-height: 32px
$lgo-renner-total-width: 255px
$lgo-renner-total-height: 208px
$lgo-renner-image: '../images/sprite.png'
$lgo-renner: 82px 0px -82px 0px 132px 32px 255px 208px '../images/sprite.png'
$lgo-salesforce-x: 0px
$lgo-salesforce-y: 0px
$lgo-salesforce-offset-x: 0px
$lgo-salesforce-offset-y: 0px
$lgo-salesforce-width: 82px
$lgo-salesforce-height: 58px
$lgo-salesforce-total-width: 255px
$lgo-salesforce-total-height: 208px
$lgo-salesforce-image: '../images/sprite.png'
$lgo-salesforce: 0px 0px 0px 0px 82px 58px 255px 208px '../images/sprite.png'
$lgo-samsung-x: 53px
$lgo-samsung-y: 149px
$lgo-samsung-offset-x: -53px
$lgo-samsung-offset-y: -149px
$lgo-samsung-width: 101px
$lgo-samsung-height: 15px
$lgo-samsung-total-width: 255px
$lgo-samsung-total-height: 208px
$lgo-samsung-image: '../images/sprite.png'
$lgo-samsung: 53px 149px -53px -149px 101px 15px 255px 208px '../images/sprite.png'
$lgo-smiles-x: 55px
$lgo-smiles-y: 58px
$lgo-smiles-offset-x: -55px
$lgo-smiles-offset-y: -58px
$lgo-smiles-width: 87px
$lgo-smiles-height: 35px
$lgo-smiles-total-width: 255px
$lgo-smiles-total-height: 208px
$lgo-smiles-image: '../images/sprite.png'
$lgo-smiles: 55px 58px -55px -58px 87px 35px 255px 208px '../images/sprite.png'
$lgo-soma-x: 82px
$lgo-soma-y: 32px
$lgo-soma-offset-x: -82px
$lgo-soma-offset-y: -32px
$lgo-soma-width: 98px
$lgo-soma-height: 25px
$lgo-soma-total-width: 255px
$lgo-soma-total-height: 208px
$lgo-soma-image: '../images/sprite.png'
$lgo-soma: 82px 32px -82px -32px 98px 25px 255px 208px '../images/sprite.png'
$lgo-unilever-x: 0px
$lgo-unilever-y: 58px
$lgo-unilever-offset-x: 0px
$lgo-unilever-offset-y: -58px
$lgo-unilever-width: 55px
$lgo-unilever-height: 61px
$lgo-unilever-total-width: 255px
$lgo-unilever-total-height: 208px
$lgo-unilever-image: '../images/sprite.png'
$lgo-unilever: 0px 58px 0px -58px 55px 61px 255px 208px '../images/sprite.png'
$lgo-vivo-x: 53px
$lgo-vivo-y: 119px
$lgo-vivo-offset-x: -53px
$lgo-vivo-offset-y: -119px
$lgo-vivo-width: 79px
$lgo-vivo-height: 30px
$lgo-vivo-total-width: 255px
$lgo-vivo-total-height: 208px
$lgo-vivo-image: '../images/sprite.png'
$lgo-vivo: 53px 119px -53px -119px 79px 30px 255px 208px '../images/sprite.png'

@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  background-image: url(nth($sprite, 9))

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)
