header {
    position: absolute;
    top: 0;

    width: 100%;
    height: 65px;
    padding: space(m) 0;

    background-color: color(dark, darker);
    border-bottom: 1px solid color(dark, base);

    h1 {
        @include font(medium);
        @include sprite($lgo-cadastra);
        @include hidden-text();

        position: relative;
        overflow: inherit;

        font-size: 0;
    }
}