h1 {}

h2 {
    @include responsive(medium, max) {
        font-size: font-size(big);
    }

    @include font(bold);

    font-size: font-size(xxbig);

    span {
        display: block;
        width: 70%;

        color: color(primary);
    }
}

h3 {
    @include font(bold);
    @include responsive(medium, max) {
        font-size: font-size(big);
    }

    font-size: font-size(xbig);

    span {
        color: color(primary);
    }
}

h4 {
    @include font(bold);

    font-size: font-size(big);

    span {
        display: block;
        color: color(primary);
    }
}

h5 {
    @include font(bold);

    font-size: font-size(large);
}

h6 {}

p {
    @include font(base);
    font-size: font-size(medium);
}

hr {}

ul {
    li {}
}

a {
   color: inherit;

   &:hover {
        color: inherit;
        text-decoration: underline;
   }
}

em {
    font-style: italic
}

strong {
    @include font(bold);
}
